<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="payment">

	<!-- 결제 성공시 payment테이블에 정보 입력 -->
	<insert id="insert" parameterType="paymentVO">
		insert into payment( payment_num, reservation_num, user_num, payment_date)
			values(#{payment_num}, #{reservation_num}, #{user_num}, #{payment_date})
	</insert>
	
	<!-- pk번호 반환 -->
	<select id="getNextNum">
		select nvl(max(payment_num), 0)+1 from payment
	</select>
	
	<!-- 결제 취소를 위해 결제num반환하는 함수 -->
	<select id="getPaymentNum" resultType="java.lang.Integer">
		select payment_num from payment where 
			reservation_num=#{reservation_num}, user_num=#{user_num}
	</select>
	
	<!-- 결제 취소할 경우 -->
	<delete id="delete">
		delete from payment where payment_num = #{payment_num}
	</delete>
</mapper>