<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user_info">
  <!-- User information -->
  <select id="checkId" resultType="user_infoVO">
  	select user_id from user_info where user_id=#{user_id}
  </select>
  
  <select id="newUserNo" resultType="user_infoVO">
 	 select nvl(max(user_num), 0)+1 from user_info
  </select>
  
  <insert id="insertUser" parameterType="user_infoVO">
	 insert into user_info(user_num, user_id, user_pwd, user_nick, user_phone, user_file) values 
		(#{user_num}, #{user_id}, #{user_pwd},#{user_nick},#{user_phone},#{user_file})
  </insert>
  
  <update id="updateUser" parameterType="user_infoVO">
  	update user_info set user_nick=’#{user_nick} where user_num = #{user_num} and user_pwd=#{user_pwd}
  </update>
  
  <select id="loginUser" resultType="java.lang.Integer">
  	select count(*) from user_info where user_id=#{user_id} and user_pwd=#{user_pwd}
  </select>
  

  <delete id="deleteUser"> 
  	delete from user_info where user_num=#{user_num}
  </delete>
   
   
  <!-- Dog Information -->
  <insert id="insertDog" parameterType="dog_VO">
	  insert into dog(dog_num, user_num, dog_name, dog_age, dog_gender, dog_desexed, dog_weight) values 
	  (#{dog_num}, #{user_num}, #{dog_name}, #{dog_age}, #{dog_gender}, #{dog_desexed}, #{dog_weight})
  </insert>
  
  <update id="updateDog" parameterType="">
  	update dog_name=#{dog_name}, dog_age=#{dog_age}, dog_gender=#{dog_gender}, dog_desexed=#{dog_desexed}, 
  		dog_weight=#{dog_weight} where dog_num = #{dog_num}
  </update>
  
  <select id="dogInfo" resultType="">
  	select dog_name, dog_gender, dog_age, dog_weight,dog_desexed from dog d, user_info u
  	where d.user_num=u.user_num and u.user_num=#{user_num}
  </select>
  
</mapper>