<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h2>플랜 입력 양식</h2>
	<hr>
	<form action="insertPlan" method="post">
		<!-- 플랜 그룹 정보 -->
		플랜 그룹 넘버(plan_group_num) : <input type="number" name="plan_group_num" th:value="${plan_group_num}"><br>
		플랜 그룹 이름(plan_name) : <input type="text" name="plan_name" th:value="${plan_name}"><br><br>
		<hr> <!-- fk -->
		
		유저 번호(user_num) :<input type="number" name="userinfo.user_num" th:value="${user.user_num}"><br>
		<!-- 
		장소 번호(place_num) : <input type="number" name="place.place_num"  th:value="${p.place_num}"><br>
		  -->
		<hr>
		<!-- 여행 세부 내용 -->
		플랜 번호(plan_num) : <input type="number" name="plan_num" th:value="${plan_num}"><br>
		여행 날짜(plan_date) : <input type="date" name="plan_date" th:value="${plan_date}"><br>
		플랜 플로우 번호(해당 날짜의 여행 순서; plan_flow_num): <br>
		<input type="number" name="plan_flow_num" th:value="${plan_flow_num}"><br>
		플랜 플로우 이름(해당 장소; plan_flow_name) : <br>
		<input type="text" name="plan_flow_name" th:value="${plan_flow_name}"><br>
		
	</form>
	
</body>
</html>

<!-- 

	
 -->