<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title>Insert title here</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bf5eb602e7479411ca85be04bd126fbb"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script type="text/javascript" 
src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d2b656d20ccafdc06e8cff4e6a7e35ef"></script>
  
<style type="text/css">
	/* *{
		box-sizing: border-box;
	} */
	#map {
		height:70vh;
		margin:3px;
		border:3px;
	}
	
	.grpNum {
		width: 40vw;
		margin-left: 25%;
		padding:1%;
	}
	.input_box{
		height: 60vh;
		overflow: auto;
	}
	.date, .input_box, .btnAll {
		padding:1.5%;
	}
	 #inputAppend {
		width:100%;
		
		position: relative;
	} 
	.input-group div input{
		justify-content: center;
		width: 65%;	
	} 
	.input-group div{
		/* background-color: red; */
		padding: 5px;
	}
</style>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript" type="text/javascript">
	$(function(){
		var user_num = $("#userNum").val(); // 실제 구현시 세션에 저장된 user_num 가져오기
		var plan_num = $("#plannum").val(); //플랜넘버 타임리프로 가져온값 가져옴
		console.log("plan_num: "+plan_num);
		var placelist;
		$.ajax({
			url:"/findByUserNum",
			data:{user_num: user_num},
			success:function(list){
				placelist=list;
				console.log(list);
				for(i=0; i<list.length; i++){
					var option = $("<option></option>");
					$("#planList").append($(option).html(list[i].plan_name).attr({
						value: list[i].plan_group_num,
					}));
				} 
			}
		});
		var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
		mapOption = { 
		    center: new kakao.maps.LatLng(37.556317, 126.922713), // 지도의 중심좌표
		    level: 3 // 지도의 확대 레벨
		};

		//지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
		var map = new kakao.maps.Map(mapContainer, mapOption);
		var group_num;
		
 		$("#btnGrpAdd").on("click", function(){
			$("#planList").hide();
			$("#planText").show();
			$(this).hide();
			$("#btnGrpList").show();
			$.ajax({
				url:"/getNextGroupNum",
				success:function(data){
					$("#planGrpNum").attr('value',data);

				}
			})
		});
 		$("#btnGrpList").on("click", function(){
 			$("#planList").show();
 			$("#planText").hide();
 			$(this).hide();
 			$("#btnGrpAdd").show();
 		});
 		
 		$("#planList").on("change", function(){
  			var text = $(this).attr('value').text();
  			$("#planText").attr({value:text});
 		}); 
 		
 		$("#AddPlan").on("click", function(){
 			
 			var str = $("<div></div>").attr({
 				name: "plan_name",
 				class: "input-group div row  mb-3"
 			}).append("<input>").attr({
 				id: "flowText",
 				type: "text",
 				class :"form-control"
 			});
 			var btn1 = $('<button data-bs-toggle="dropdown" aria-expanded="false">place</button>').attr({
 				id: "btnPlace",
 				class: "btn btn-secondary btn-sm dropdown-toggle",
 				type: "button",
 			}).after('<ul id="placeList" class="dropdown-menu"><li id="placeListOp" class="dropdown-item" th:each="p:${place_list}" th:value="${p.place_num}" th:text="${p.place_name}"></li></ul>');
 			var btn2 = $("<button>찜</button>").attr({
 				id: "btnDibs",
 				class: "btn btn-secondary btn-sm dropdown-toggle",
 				type: "button",
 			}).append();
 			var btn3 = $("<button>예약</button>").attr({
 				id: "btnRsv",
 				class: "btn btn-secondary btn-sm dropdown-toggle",
 				type: "button",
 			}).append();
 			var btn4 = $("<button>X</button>").attr({
 				id: "btnDel",
 				class: "btn btn-secondary btn-sm",
 				type: "button",
 			})
 			
 			$("#inputAppend").append(str.append(btn1,btn2,btn3,btn4));
 			
 		})
 		
 		$("#placeList > li").on("click", function(){
 			var text = $(this).text();
 			console.log(text);
 			$("#flowText").attr({value:text});
 		});
 		
 		$("#dibsList > li").on("click", function(){
 			var text = $(this).text();
 			$("#flowText").attr({value:text});
 		});
 		
 		$("#rsvList > li").on("click", function(){
 			var text = $(this).text();
 			$("#flowText").attr({value:text});
 		});


 		/*[# th:each="tmp : ${place_list}"]*/
 		console.log(/*[[${tmp.place_name}]]*/);
 		/*[/]*/

/* 		<div class="btn-group">
			<button id="btnPlace" class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">장소 선택</button>
			<ul id="placeList" class="dropdown-menu">
			<li  id="placeListOp" class="dropdown-item" th:each="p:${place_list}" th:value="${p.place_num}" th:text="${p.place_name}">
			</ul>
			<button id="btnDibs" class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">찜 리스트</button>
			<ul id="dibsList" class="dropdown-menu">
			<li  id="dibsListOp" class="dropdown-item" th:each="d:${dibs}" th:value="${d.place.place_num}" th:text="${d.place.place_name}">
			</ul>
			<button id="btnRsv" class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">예약 리스트</button>
			<ul id="rsvList" class="dropdown-menu">
			<li  id="rsvListOp" class="dropdown-item" th:each="r:${reservation}" th:value="${r.place.place_num}" th:text="${r.place.place_name}">
			</ul>
	</div> */
 		

	});
	
</script>
</head>
<body>

<h3>PLAN</h3>
<hr>

<div class="container border">
    <form action="/savePlan" method="post">
     <div class="form-inline">
		<!-- 여행 타이틀 (plan_group_num) -->
		<div class="input-group grpNum">
			<input style="display: none" id="planText" type="text" class="form-control" name="plan_name">
			<select id="planList" name="plan_group_num" class="form-select" aria-label="select-plan-group">
				<option selected disabled>여행 계획 선택</option>
			</select>
		<!-- 플랜 그룹 넘버(plan_group_num) : <input type="number" name="plan_group_num" th:value="${groupnum}"><br>
			플랜 그룹 이름(plan_name) : <input type="text" name="plan_name" th:value="${plan_name}"><br> -->
			<div class="input-group-addon input-group-button">
				<button type="button" id="btnGrpAdd" class="btn btn-dark">새그룹추가</button>
				<button style="display: none" type="button" id="btnGrpList" class="btn btn-dark">리스트보이기</button>
				<button type="button" id="btnGrpDel" class="btn btn-dark">삭제</button>
			</div>
		</div>
	</div> 
	<!-- 여기까지 여행 타이틀 -->
	<!-- 여기부터 주요 컨텐츠 -->
	<div class="row bottom border">
	   	<div id="map" class="col border"></div> <!-- 지도 map --> <!-- 왼쪽 -->
	   	<div class="col right border"> <!-- 오른쪽 -->
	   	
	     	<!-- 여행 날짜(plan_date) -->
   			<div class="row justify-content-center date input-group-addon input-group-button">
	     		<input type="date" name="plan_date" th:value="${plan_date}" class="col-5">
	     		<button type="button" id="AddPlan" class="btn btn-dark col-2">동선추가</button>
	     		
     		</div>
		<!-- 플랜 그룹 정보 -->
		<div class="border input_box">
			<!-- 플랜 그룹 넘버(plan_group_num) : <input type="number" name="plan_group_num" th:value="${groupnum}"><br> -->
			<!-- 플랜 그룹 이름(plan_name) : <input type="text" name="plan_name" th:value="${plan_name}"><br> -->
			<!-- 유저 번호(user_num) -->
			<input type="hidden" id="userNum" name="userinfo.user_num" th:value="${user.user_num}">
			<!-- 여행 세부 내용 -->
			<input id="plannum" type="hidden" name="plan_num" th:value="${plannum}">
			<!-- pk:<span th:text="${plannum}"></span> -->
			

			<div class="input-group" >
				<div id="inputAppend"></div>
				<br>
<!-- 				<input type="text" name="plan_flow_name" th:value="${plan_flow_name}" id="flowText"> -->
			</div><!-- input-group 끝 -->
		</div><!-- input_box 끝 -->
		
	   <!-- 입력, 수정, 삭제 버튼위치 -->
	 	<div class="d-flex justify-content-end btnAll"  aria-label="save, delete button">
		  <button id="btnSubmit" type="submit" class="btn btn-dark">수정/저장</button>
		  <button type="reset" class="btn btn-dark"> 리셋</button>
		  <button id="btnDelete" type="button" class="btn btn-dark">삭제</button>
		</div>
 	 </div><!-- 오른쪽 박스 끝 -->
  	 </div><!-- bottom 박스 끝 -->
	</form>
</div> <!-- 전체 컨테이너 끝-->
</body>
</html>
